# Ignorar dependencias de Node
#node_modules/

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env

# Cache
.cache/
dist/

# Configuración del sistema o editor
.DS_Store
.idea/
.vscode/
